body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(../images/background.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding-top: 6em;
    text-align: center;
}

#date {
    color: white;
    font-size: 1.3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0.6;
}

#time {
    color: white;
    font-size: 2.9em;
    top: 10px;
    border-bottom: thin solid;
    padding-bottom: 20px;
    opacity: 0.8;
}

#content {
    height: 15em;
}

p {
    max-width: 30em;
    color: white;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing:0.1em;
    text-align:center;
    margin: 40px auto;
    text-transform: uppercase;
    line-height: 145%;
    font-size: 2em;
    font-variant: small-caps;
}

#genButton {
    position: relative;
    outline: none;
    padding-top: 5px;
    text-decoration: none;
    opacity: 0.4;
    background-color: black;
    color: white;
    border: thin solid white;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    transition: 0.5s;
    padding-bottom: 5px;
}

#genButton:hover {
    background-color: rgb(59, 202, 34);
    color: black;
    border: thin solid black;
    opacity: 0.8;
}